<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meet.learnpython">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Editor"
            android:exported="false" />
        <activity android:name=".PY_1" />
        <activity android:name=".py_quiz_12" />
        <activity android:name=".py_quiz_11" />
        <activity android:name=".py_quiz_10" />
        <activity android:name=".py_quiz_9" />
        <activity android:name=".py_quiz_8" />
        <activity android:name=".py_quiz_7" />
        <activity android:name=".py_quiz_6" />
        <activity android:name=".py_quiz_5" />
        <activity android:name=".py_quiz_4" />
        <activity android:name=".py_quiz_3" />
        <activity android:name=".py_quiz_2" />
        <activity android:name=".py_quiz_1" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
  <meta-data
             android:name="com.google.android.gms.ads.APPLICATION_ID"
             android:value="ca-app-pub-3940256099942544~3347511713" />
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2402841896446890~4285558892" />
    </application>

</manifest>